.register-background
{
    /* background-color: black; */
    background-image: url("https://images.unsplash.com/photo-1531386450450-969f935bd522?ixlib=rb-0.3.5&s=7b911bb1147d7165fad0113376d29223&auto=format&fit=crop&w=750&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}