/* html {
    background-color: black;
    background-image: url('https://www.fg-a.com/wallpapers/black-background-retro.jpg');
} */

.user-background
{
    /* background-image: url("https://www.fg-a.com/wallpapers/black-background-retro.jpg"); */
    background-color: black;
}