#div1
{
    float: right;
    position: relative;
    background-color: black;
}
#div2
{
    float: left;
}
#div3
{
    float: left;
    margin-top: 25px;
    position: relative; 
    background-color: black;
}
#div4{
    float: right;
}