#div1
{
    float: right;
    position: relative;
    background-color: black;
}
#div2
{
    width: 500px;
}
#div3
{
    float: left;
    position: relative; 
    background-color: black;
}
#div4{
    float: right;
}